ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    background-color: #d3baa3;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-style: normal;
    min-width: auto;
    padding: 20px 0px 20px 0px;
  }
  
  li {
    text-align: center;
    display: inline;
    font-size: 15px;
    text-wrap: nowrap;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a {
    display: inline;
    color: #b15f01;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover {
    color: #ffffff;
  }
  
  .header {
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px 0px 0px 0px;
  }

  .contact {
    background-color: #fff;
    color: #000;
    padding: 1px 20px 1px 20px;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 17px;
  }
  
  h1 {
    font-size: 30px;
  }
  
  a {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }
  
  .yhteystiedot {
    font-family: "Quicksand", sans-serif;
    background-color: #fff;
    color: #000;
    padding: 1px 5px 1px 5px;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
  }
  
  .mainotsikko {
    padding: 10px 20px 20px 25px;
    color: #b15f01;
    font-family: "Roboto Condensed", sans-serif;
    text-align: left;
  }

  .otsikko2 {
    padding: 20px 0px 0px 20px;
    color: #b15f01;
    font-family: "Roboto Condensed", sans-serif;
    text-align: right;
  }


  .ylempi {
    padding: 0px 20px 0px 0px;
    font-family: "Quicksand", sans-serif;
    text-wrap: wrap;
  }

  .alempi {
    text-align: right;
    padding: 0px 0px 15px 20px;
    font-family: "Quicksand", sand-serif;
  }

  .galleria {
    margin: 15px;
    border: none;
    float: left;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding-bottom: 17px;
  }

  img:hover {
    border: 1px solid #b15f01;
    margin: 14px;
    box-shadow: 0px 3px;
  }

  desc {
    text-align: center;
    width: 100%;
    font-size: 20px;
  }
